@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/background.gif);
  background-size: cover;
}
.main {
  background-color: rgba(0, 0, 0, 0.363);
  padding: 0 5px;
  color: white;
  margin-top: -250px;
  font-size: 49px;
  margin-bottom: 50px;
}
.buttonsBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
